.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 5px;
  padding: 20px;
}
.button-row {
  height: 40px;
  width: 132px;
  margin-top: 30px;
}
.actions {
  display: flex;
  margin-top: 24px;
}
.filter {
  padding-top: 26px;
  padding-right: 25px;
}
.padd {
  padding-right: 25px;
}

button {
  font-size: 13px;
}
@media screen and (max-width: 959px) {
  button {
    font-size: 10px !important;
  }
  .button-row {
    height: 30px;
    width: 122px;
  }

  mat-form-field {
    height: 72px;
    width: 120px;
  }
}
@media screen and (max-width: 599px) {
  .title-holder {
    display: block;
  }
}
