/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .dialog {
    margin-top: auto;
    min-height: 70vh;
    max-height: 90vh;
    width: 970px;
    padding: 0px;
    border-radius: 4px;
  }
}
